<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title> Azure </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"> <img src="https://68.media.tumblr.com/5bb4944464e26f54ec570d0e1df3c9d4/tumblr_om5p1qwQ2c1utfncso2_400.png"></a> 
      <ul class="right hide-on-med-and-down">
        <li>
          <nav>
          <div class="nav-wrapper grey darken-4">
          <form>
          <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav></li>
  <li><a href="https://www.facebook.com/viiazure"> <i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/vii.sha"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://viiazure.tumblr.com"><i class="fa fa-tumblr-square"></i></a></li>
         <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="fa fa-twitter-square"></i><i class="material-icons right">arrow_drop_down</i></a>
         </li>
      </ul>

     <ul id="dropdown1" class="dropdown-content">
  <li><a href="https://www.twitter.com/viisha_"> <i class="fa fa-twitter-square"></i></a></li>
  <li><a href="https://www.twitter.com/viiazure"> <i class="fa fa-twitter-square"></i></a></li>
</ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Peaceminusone</h1>
        <div class="row center">
          <h5 class="header col s12 light">Too fast to live, too young to die.</h5>
        </div>
        <div class="row center">
          <a href="pmo.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://68.media.tumblr.com/dca422d3ccd56137e097a11b15c33bd0/tumblr_om5p1qwQ2c1utfncso6_1280.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <h5 class="center"> L I V E </h5>
      </div>
      </div>
        </div>

        <div class="col s12 m4">
           <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <h5 class="center">P L A Y</h5>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
           <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <h5 class="center">C O D E</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">The only thing I have to do in life is die. Everything else is a choice... including breathing.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://68.media.tumblr.com/6465bfe1d70ec32758d3bd8a8df8a1fb/tumblr_om5p1qwQ2c1utfncso1_1280.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Reminder!</h4>
          <p class="center-align light">What we should really fear is not failure but the heart that is no longer enought to take risks and embrace challenges.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://68.media.tumblr.com/78c81f9078e6be976657fbd6296b15b9/tumblr_om5p1qwQ2c1utfncso5_1280.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Peaceminusone</h5>
              <p class="grey-text text-lighten-4">By Azure</p>
        </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Inspired by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
