<!DOCTYPE html>
<html>
<head>
<style>
p {

  text-align: center;
}
h3 {
    background-color: black;
    opacity: 0.3;
    text-decoration: underline;
}
h3 {
    background-color: black;
    opacity: 0.3;
    text-decoration: underline;
}
</style>
	<title>  Azure  </title>
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

</head>
<body>


 <nav>
    <div class="nav-wrapper grey darken-4">
    <div class="container">
    <div class="exampleserif">
   <a id="logo-container" href="index.html" class="brand-logo"> <img src="https://68.media.tumblr.com/5bb4944464e26f54ec570d0e1df3c9d4/tumblr_om5p1qwQ2c1utfncso2_400.png"></a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <nav>
          <div class="nav-wrapper grey darken-4">
          <form>
          <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav></li>
  <li><a href="https://www.facebook.com/viiazure"> <i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/vii.sha"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://viiazure.tumblr.com"><i class="fa fa-tumblr-square"></i></a></li>
         <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="fa fa-twitter-square"></i><i class="material-icons right">arrow_drop_down</i></a>
         </li>
      </ul>
    </div>
    </div>
    </div>
    <ul id="dropdown1" class="dropdown-content">
  <li><a href="https://www.twitter.com/viisha_"> <i class="fa fa-twitter-square"></i></a></li>
  <li><a href="https://www.twitter.com/viiazure"> <i class="fa fa-twitter-square"></i></a></li>
</ul>
<nav>
  <div class="nav-wrapper grey darken-4">
    <div class="container">
   <a id="logo-container" href="index.html" class="brand-logo"> <img src="pmo-logotype.png"></a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <nav>
          <div class="nav-wrapper grey darken-4">
          <form>
          <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav></li>
  <li><a href="https://www.facebook.com/viiazure"> <i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/vii.sha"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://viiazure.tumblr.com"><i class="fa fa-tumblr-square"></i></a></li>
         <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="fa fa-twitter-square"></i><i class="material-icons right">arrow_drop_down</i></a>
         </li>
      </ul>
    </div>
    </div>
</nav>
        
  </nav>
<div class="slider">
 <ul class="slides">
   <li>
        <img src="https://68.media.tumblr.com/57259aa8008d934f2bcccbc95f4c7c19/tumblr_om5ozxlM8F1utfncso7_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
      </li>

      <li>
        <img src="https://68.media.tumblr.com/e36dea8e554cda389916daa4526e106d/tumblr_om5ozxlM8F1utfncso3_400.jpg"> <!-- random image -->
        <div class="caption center-align"
        </div>
      </li>

      <li>
        <img src="https://68.media.tumblr.com/93a56fc6b2660b25934cf420c93fe04d/tumblr_om5ozxlM8F1utfncso5_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
      <li>
        <img src="https://68.media.tumblr.com/3407609585b2b7d5ad5f227eca4836da/tumblr_om5ozxlM8F1utfncso8_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
      <li>
        <img src="https://68.media.tumblr.com/636419c277d63eacc743c5207077bcbb/tumblr_om5ozxlM8F1utfncso2_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
      <li>
        <img src="https://68.media.tumblr.com/a2d3760188e53854c803158215b5a13d/tumblr_om5ozxlM8F1utfncso1_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
      <li>
        <img src="https://68.media.tumblr.com/ec02e7f9ffd390da5b965552b9a90ae3/tumblr_om5ozxlM8F1utfncso4_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
      <li>
        <img src="https://68.media.tumblr.com/cb5e8cc922bafd4efaebbc58bc7efd65/tumblr_om5ozxlM8F1utfncso6_1280.jpg"> <!-- random image -->
        <div class="caption center-align">
        </div>
     </li>
    
    </ul>
  </div>

<div class="center-align">
	<ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="2.jpg">
      </div>
      <a href="#!user"><img class="circle" src="ako.jpg"></a>
      <a href="#!name"><span class="white-text name">Azure</span></a>
      <a href="#!email"><span class="black-text email">kaloygfucboi@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class=" small material-icons">dashboard</i></a>
</div>

  <!--<div class="progress">
      <div class="indeterminate"></div>
  </div>!-->
  
  <div class="carousel">
    <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/130/20_PMO_STICKER1.jpg"></a>

    <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/97/12-051.jpg"></a>

    <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/93/11-109.jpg"></a>

    <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/50/12b-1-1_RFHOODIE-HANDMADE2.jpg"></a>

    <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/17/4-2-1_CTT-SHIRT.jpg"></a>

     <a class="carousel-item"><img src="https://peaceminusone.s3.ap-northeast-2.amazonaws.com/uploads/product_image/source/2/1-2-1.jpg"></a>

       <a class="carousel-item"><img src="http://www.peaceminusone.com/img/shop/list/pmo-earphone.jpg"></a>

  </div>



 

    <script>
  	$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
  </script>

<script>
	// Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
</script>
 
 



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script>
	$(document).ready(function(){
      $('.slider').slider();

    });
 $(document).ready(function(){
      $('.carousel').carousel();
    });
 // Next slide
$('.carousel').carousel('next');
$('.carousel').carousel('next', 3); // Move next n times.
// Previous slide
$('.carousel').carousel('prev');
$('.carousel').carousel('prev', 4); // Move prev n times.
// Set to nth slide
$('.carousel').carousel('set', 4);
        
</script>

<script>
	 $(".button-collapse").sideNav();
</script> 

  

</body>

</html>